/* myStyle.css */
body {
 background-color: #0033FF;
 color: #000000
}
h1 {
 color: #000000;
 text-align: center;
 font: italic 200% fantasy;
}

h2 {
  color: #FFFFFF;
  text-align: left;
  font: italic 150% calibri;
}

p {
 background-color: #FFFFFF;
 color: #0033FF;
 text-align: left;
}

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
