/* myStyle.css */
body {
 background-color: #112233;
 color: #112233;
}
h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}

h2 {
  color: #665544;
  text-align: right;
  font: italic 150% calibri;
}

p {
 background-color: #112233;
 color: #332211;
 text-align: right;
 border: 3px groove #FFFF33;
}
