/* myStyle.css */
body {
 background-color: #0033FF;
 color: #000000
}
h1 {
 color: #000000;
 text-align: center;
 font: italic 200% fantasy;
}

h2 {
  color: #FFFFFF;
  text-align: left;
  font: italic 150% calibri;
}

p {
 background-color: #FFFFFF;
 color: #0033FF;
 text-align: left;
}
